core/__pycache__
match_app/__pycache__
users_app/__pycache__
match_app/migrations
users_app/migrations
working_files/

db.sqlite3
manage.py


.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 